.square{
    width: 100px;
    height: 80px;
    background-color:  darkolivegreen;
    border: none;
    border-radius: 8px;
    color:white;
    font-weight: bold;
    font-size: 3em;
    cursor: pointer;

}

.square:hover{
    box-shadow: 0 0 10px 3px rgb(234, 255, 0);
}

.o {
    background-color: #ad4ecd;
}
.x{
    background-color: #ff6b6b;
}